# Node.js
**/node_modules
**/.expo
**/.next

# React Native
**/android/build
**/ios/Pods

# ASP.NET
**/bin
**/obj
**/appsettings.*.json
**/wwwroot
**/Logs
**/CoverageReport
**/TestResults
# Environment variables
.env
