name: CamQuizz CI Pipeline
on:
  push:
    branches: ["backend/develop"]
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: yourpassword
          POSTGRES_DB: mydb
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres" 
          --health-interval=10s 
          --health-timeout=5s 
          --health-retries=5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Make
        run: sudo apt-get update && sudo apt-get install -y make

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.103' 

      - name: Restore dependencies
        working-directory: Server
        run: dotnet restore 

      - name: Run Tests
        working-directory: Server
        run: make test